---
const v = "version beta 0.5";
const pageTitle = "About this site on the netz";
const done = false;
import Navigation from '../components/Navigation.astro'
impor '../global.css'

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body style="background-color:LightBlue">
    <h1>Astro things</h1>
    <h3>My Astro blog</h3>
    <p>{v}</p>
  </body>
</html>
