---
const v = "beta 0.5";
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sanyu's blog Homepage</title>
  </head>
  <body>
    <Navigation/> 
    <h1>Astro thing</h1>
    <h3>My Astro blog</h3>
    <p><a href="/">home</a></p>
    <p><a href="/about/">about</a></p>
    <p>v {v}</p>
  </body>
  <style src="../global.css"/>
</html>
