---
const v = "beta 0.5";
import Navigation from '../components/Navigation.astro';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sanyu's blog Homepage</title>
  </head>
  <body>
    <Navigation/> 
    <h1>Astro thing</h1>
    <h3>My Astro blog</h3>
    <p><a href="/">home</a></p>
    <p><a href="/about/">about</a></p>
    <p>v {v}</p>
    
<style is:global>
body {
  background-color:lightblue;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 2rem;
  line-height: 1.5;
  font-family: 'fi';
}

* {
  box-sizing: border-box;
}
h1 { 
  margin: 1rem 0;
  font-size: 2rem;
}
@font-face {
  font-family: 'fi';
  src: url('/fonts/jetbrains/JetBrainsMono-Medium.ttf') format('truetype');
}
</style>

  </body>
</html>
