---
const v = "beta 0.5";
import Navigation from '../components/Navigation.astro';
import '../global.css';
import nav from '../components/nav.astro';
import footer from '../components/footer.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sanyu's blog Homepage</title>
  </head>
  <body>
    <h1>Asting</h1>
    <h3>My Astro blog</h3>
    <p><a href="/">home</a></p>
    <p><a href="/about/">about</a></p>
    <p>v {v} </p>
    <footer/>
  </body>
</html>
