



body {
  background-color:lightblue;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 2.5rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/jetbrains/JetBrainsMono.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 { 
  font-family: 'JetBrainsMono', medium
  margin: 1rem 0;
  font-size: 2.5rem;
}

