

body {
  background-color:lightblue;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 2rem;
  line-height: 1.5;
  font-family: 'fi';
}

* {
  box-sizing: border-box;
}
h1 { 
  margin: 1rem 0;
  font-size: 2rem;
}
@font-face {
  font-family: 'fi';
  src: url('/fonts/jetbrains/JetBrainsMono-Medium.ttf') format('truetype');
}
